body{
    margin: 0px;
    padding: 0px;
}

.top__nav{
    height: 60px;
    background-color: #010D14;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.top__nav__item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.top__nav__item div{
    padding: 0px 10px;
}

.top__nav__item i{
    padding: 0px 10px;
}

.logo{
    width: 200px;
}

.lower__nav{
    height: 120px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
}

.lower__nav a{
 padding: 0px 30px;
 font-size: 18px;
 text-decoration: none;
 font-weight: 700;
 color: #010D14;
}

.lower__nav a:hover{
 color: #F7940F;
}
.top__nav__item .k_i{
    color: #F7940F;
}

.active{
    color: #F7940F !important;
}

.let__talk__button{
    padding: 12px 30px !important;
    background-color: #F7940F;
    color: #010D14;
    transition: 1s background-color;
}

.let__talk__button:hover{
    background-color:  #010D14;
    color: #ffffff !important;
}

.about__section{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-image: url(../images/konstruck/about_bg.jpg);
    background-position: center;
    background-size: cover;
}

.about__section__item{
    width: 45%;
}

.why__choose__use{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.why__choose__use p{
    padding: 0px 10px;
}
.why__choose__use i{
    color: #F7940F;
}

.about__section__item h3{
    font-size: 40px;
    margin-top: 0px;
}

.leverage{
    font-size: 18px;
    font-weight: 300;
}

.sub_section_about{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
}

.circle__div div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
}

.circle__div div i{
    background-color: #F7940F;
    font-size: 15px;
    border-radius: 50%;
    padding: 5px;
    color: #ffffff;
}

.circle__div div span{
    font-size: 20px;
    margin: 0px 20px;
}

.signature{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.signature a {
    background-color:#F7940F;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    color:#010D14;
}

.signature div{
    margin: 0 auto;
}

/* service sstyles */

.service_section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    background-color: #E8EAEE;
    height: 1200px;
}

.image__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.image__container .image__container__item{
    /* width: 25%; */
    width: 350px;
    height: 350px;
    margin: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../images/konstruck/servic_1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
 
}

.overlay{

    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition:  .5s  ease;
}

.text{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image__container__item:hover .overlay{
    bottom: 0;
    height: 100%;
}
.image__settings{
    position: absolute;
    height: 20%;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.image__settings div{
    font-size: 30px;
    background-color: #F7940F;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image__settings p{
    font-size: 20px;
    padding: 0px 5px;
}

/* .image__container__item img{
    width: 350px;
    height: 350px;
    padding: 10px;
} */

.what__we__do{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.what__we__do i{
    color: #F7940F;
}

.what__we__do p{
    padding: 0px 10px; 
}

.develop_h3{
    font-size:40px;
}