body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navbar{
    background-color: #cccccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header img{
    width: 100px;
    height: 50px;
    padding: 0px 16px;
    border-radius: 16px;
}

header a{
    color: #f1f2f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;

}

header a:hover{
    background-color: #d34567;
    color: #000000;
}

/* HERO BANNER */
.hero{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.hero-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero-text{
    width: 50%;
    height: 600px;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    left: 25%
}

.hero-text h1{
    color: #fff;
    font-size: 64px;
    margin-bottom: 20px;
}

.hero-text p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-text a{
    color: #333;
    font-size: 20px;
    background-color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;

}

/* TEAM WORK SECTION */

.team__work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 600px;
}

.team__work__item img{
    width: 100%;
}

.team__work__item{
    width: 40%;
}

.team__work__item h2{
    font-size: 30px;

}


.team__work__item p{
    font-size: 20px;
    margin-bottom: 30px;
}

.team__work__item a{
    background-color: #333;
    padding: 14px 60px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
}

/* support team */

.support{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.support__item img{
    width: 100%;
}

.support__item{
width: 40%;

}



.support__item h2{
    font-size: 30px;

}


.support__item p{
    font-size: 20px;
    margin-bottom: 30px;
}

.support__item a{
    background-color: #333;
    padding: 14px 60px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
}

.support__text{
    padding-left: 30px;
}

/* FOOTER */
footer{
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0px 20px;

}

footer img{
    width: 200px;
}

footer li{
    list-style-type: none;
    padding: 14px 20px;
}